body {
  background: #f1f1f1;
}



header a {
  
  display: block;
  font-size: 13px;
  
  color: #fff;
  margin: 0;
  text-decoration: none;
}


.container section {
  padding: 30px;
  width: 25%;
 
}
.container section2 {
  
  width: 100%;
 
}
.sectionone  {

  width: 55%;
  padding: 15px;
  margin: 15px 0;
}
.container aside {
  
  width: 20%;
 
  margin: 35px 0;
}
.container aside .signup {
  background-color: bisque;
  
}
footer {
  color: white;
  height: 450px;
  background: rgb(29, 29, 29);
}
#hyper{
  display: inline;
}
#hyper ul{
  margin-left: 150px;
} 
#hyper li{
  
  font-size: 8px;
  float: left;
  padding: 15px;
}

.sit-navbar {
  margin-bottom: 0px;
  z-index: 1999;
  position: absolute;
  top: 20px;
  left: 50%;

  width: 100%;
  border-radius: 4px; }
  #ratinglist{
    display: inline; 
  }
  #rating ul{
  color: black;
  }
 
  #ratinglist li{
    
     font-size: 15px;
    padding-right:10px; 

   float: left;
   
  }
  #ratinglist li a{
    color: rgb(141, 141, 141);
  }
  #ratnav {
   
   overflow:visible;

  }
  #review{

  outline: 0.1px solid #ffffff;
padding: 7px;

    color: rgb(138, 138, 138); padding-right: 10px;
  }
  #spacerev {
    font-size: medium;
    display: inline;
    padding-left: 10px;
  }
  .topside{
    
display: inline;

  }
  .topside li{
    
    padding: 4px;
    display: inline;
  }
  .topside li a{
   
    color: rgb(88, 88, 88);

    
  }
.rating {
    transform: translate(-50%, -50%) rotateY(180deg);
    display: flex;
}

.rating input {
    display: none;
}

.rating label {
    display: block;
    cursor: pointer;
    width: 50px;
}

.rating label:before {
    content: '\f005';
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size: 50px;
    color: #000000;
}

.rating label::after {
    content: '\f005';
    font-family: fontAwesome;
    position: absolute;
    display: block;
    font-size: 50px;
    color: #f8df00;
    top: 0;
    opacity: 0;
    transition: .5s;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.rating label:hover:after,
.rating input:hover~label:after,
.rating input:checked~label:after {
    opacity: 1;
}


.fa-star{color: #ffdb07;}